<div class="home-page">
    <div class="w100p">
        <div class="w50p mauto">
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_j3gumpgp.json" background="transparent" speed="1" style="width: 100%;" loop="" autoplay=""></lottie-player>
        </div>
    </div>
    <p class="autowriting fs70px fs-i-60px fs-m-50px fs-p-30px"><span class="typed2"></span></p>
    <div id="seo-strings2">
        <p class="autowriting">Page not Found!</p>
        <p class="autowriting">Maybe the page was moved</p>
    </div>
    <a href="/" class="banner-btn">Home <i class="fas fa-home"></i></a>
</div>