<div class="page-section portafolio-page">
    <hr class="hr-top">
    <h1>Portafolio</h1>
    <hr class="hr-bottom">
    <br>
    <div class="work-history">
        <p class="tbold fs27px subtittle">Web Sites</p>
    </div>
    <br>
    <br>
    <div class="flex-s-a">
       <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://marbust.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/marbust.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Marbust Technology Company</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Full Time Working</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/mbhostcloud.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>MBHostCloud&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Full Time Working</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://libelulapurpura.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/purpura.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>La Libélula Púrpura&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Full Time Working</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://mbrelax.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/mbrelax.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>MBRelax</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Full Time Working</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://pazviseg.ec/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/pazviseg.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Pazviseg</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Oct 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://sacfinpro.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/sacfinpro.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>SacfinPro</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Sep 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://ecuaforever.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/ecuaforever.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>EcuaForever</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Aug 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://jrsolutions-ec.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/jrsolutions.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>JRSOLUTIONS</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Aug 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://elementaryconsultores.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/elementary.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>ELEMENTARY</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Aug 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="http://caefecuador.fin.ec/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/caef.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>CAEF Ecuador</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jul 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://redecuesp.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/redecu.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Corporación Redecu ESP</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jun 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://asomotilonesesp.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/motilones.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>AREMOS ESP</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jun 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://recicladoratorres.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/recicladoratorres.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Recicladora Torres</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://carolstoresd.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/carolstore.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Carol Store SD</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> March 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://internationalbankerslatam.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/international.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>International Bankers Financial Group</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> March 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://cattleyababy.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/cattleyababy.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Cattleya Baby</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> March 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://cussepri.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/cussepri.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Cussepri</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://distribuidorhnd.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/hnd.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Oswal Rivilla</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://planet-ec.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/planet.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Planet IT</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> December 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://lepvexportaciones.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/lepv.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Exportaciones LEPV</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> December 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://mbrelax.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/mbrelax.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>MBRelax</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> August 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://gftconstructores.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/gft.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>GFT Constructores</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jun 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://plenitudpersonal.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/plenitud.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Plenitud Personal</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Jun 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://gamesmultiaccesorios.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/games.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Games Multiaccesorios</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://estacool.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/estacool.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>EstaCool Store</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://mediacionpactodepaz.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/pacto.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Mediación Pacto de Paz</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> April 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://arteflor.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/arteflor.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Arte Flor</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://ferreteriaelobrero2.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/obrero.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>El Obrero # 2</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> December 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://aladino.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/aladino.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Muebles Aladino</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> October 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://romatarot.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/roma.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Roma Tarot</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> August 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://mundomarino.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/mundomarino.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Mundo Marino</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> May 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://orbea.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/orbea.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Multiservicios Orbea</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> January 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://visasexpress.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/visas.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Visas &amp; Travel Express</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> October 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://lion.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/lion.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>LION</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> August 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://rinconartesanal.mbhostcloud.xyz/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/rincon.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Rincón Artesanal</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> July 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="http://paradiseecuador.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/paradise.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Paradise Travel Ecuador</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://millanexplorer.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/millan.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Millan Explorer</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> January 2018</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
    </div>
    <br>
    <br>
    <br>
    <div class="work-history">
        <p class="tbold fs27px subtittle">Web Apps &amp; Projects</p>
    </div>
    <br>
    <br>
    <div class="flex-s-a">
       <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://accounts.marbust.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/marbustaccounts.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Marbust Accounts&reg;</h2>
                <p><i class="fas fa-calendar-alt"></i> Since 2020<br>PWA ( <i class="fab fa-chrome"></i> <i class="fab fa-android"></i> <i class="fab fa-apple"></i> <i class="fab fa-windows"></i> )</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://framework.marbust.com/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/marbustframework.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>Marbust Framework&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Since 2019<br>Web Framework ( <i class="fab fa-sass"></i> <i class="fab fa-php"></i> <i class="fab fa-node-js"></i> )</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://englishconnectsd.noticias-sd.org/" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/englishconnectsd.png" alt="Logo" class="mauto w50p maxw400px">
                <h2>EnglishConnectSD&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> Since 2021<br>PWA ( <i class="fab fa-chrome"></i> <i class="fab fa-android"></i> <i class="fab fa-apple"></i> <i class="fab fa-windows"></i> )</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
    </div>
    <br>
    <br>
    <br>
    <div class="work-history">
        <p class="tbold fs27px subtittle">Online Shows &amp; Educational Courses</p>
    </div>
    <br>
    <br>
    <div class="flex-s-a">
       <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://www.youtube.com/playlist?list=PL9Bfgp-i_EUlPtZ8vVs8dsYPs0-g8bfTw" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/directadmin.png" alt="Logo" class="mauto w90p maxw400px">
                <h2>MBHostCloud&reg; - DirectAdmin</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> August 2021 - Till Now</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
       <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://www.youtube.com/watch?v=TQL9kHNAJkU&list=PL9Bfgp-i_EUnH6MHndJyBfHsd4Vv1Hrhc" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/fullstack.png" alt="Logo" class="mauto w90p maxw400px">
                <h2>Full Stack Web Lab&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> April 2021 - Till Now</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://www.udemy.com/course/configurar-phpmailer-y-no-morir-en-el-intento/?referralCode=631617701321507940F7" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/phpmailer.png" alt="Logo" class="mauto w90p maxw400px">
                <h2>Configurar PHPMailer() y No morir en el Intento&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> November 2020 - January 2021</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://www.udemy.com/course/code-never-was-easy/?referralCode=15FF7C5D47ECD9DEB7EB" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/code.png" alt="Logo" class="mauto w90p maxw400px">
                <h2>Code Never was Easy&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> February 2019 - May 2020</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
        <a class="portafolio-box box-4 box-i-5 box-m-6 box-p-10" href="https://www.youtube.com/watch?v=uv_WAZ-KGNI&list=PL9Bfgp-i_EUlgUl_-yHM3LxKgQBB3n3l9" target="_blank">
            <div class="top-arrow"></div>
            <div class="portafolio-box-body">
                <img src="/img/pages/portafolio/whereis.png" alt="Logo" class="mauto w90p maxw400px">
                <h2>Where is MGDA Going?&reg;</h2>
                <!--<h3>Web Designer &amp; Developer</h3>-->
                <p><i class="fas fa-calendar-alt"></i> September 2018 - March 2019</p>
            </div>
            <div class="bottom-arrow"></div>
        </a>
    </div>
</div>