<div class="page-section">
    <hr class="hr-top">
    <h1>About</h1>
    <hr class="hr-bottom">
    <br>
    <div class="flex-s-a">
        <div class="box-6 flex-vcc box-m-8 box-p-12">
            <h2 class="w100p">Marco Antonio Bustillos Quiroz</h2>
            <p class="gray2 fs15px mt10px mb10px w100p"><i class="fas fa-map-marker-alt"></i> Santo Domingo, Ecuador</p>
            <p class="taj lh16em w100p">I am a Full Stack Web Developer. I work as CEO and Co-Founder of “Marbust Technology Company."</p>
            <p class="taj lh16em mt10px w100p">In my personal life, I am proudly a husband and father, also youtuber, learner, English teacher and BYU-Idaho student. I love to create amazing things by bringing to life the ideas of people through professional Web Design and Development.</p>
        </div>
        <div class="box-6 flex-vc box-m-4 box-p-10">
            <img src="/img/pages/about/logo-complete.png" alt="Logo" class="mauto w100p">
        </div>
    </div>
    <br>
    <br>
    <div class="about-my-services">
        <div class="top-arrow"></div>
        <div class="body">
            <p class="fs27px tittle">What Actually I Do</p>
            <p class="tbold fs27px subtittle">My Services</p>
            <div class="flex-s-a flex-vc mt30px">
                <div class="box-6 box-m-12 box-p-12 flex-s-a service-box">
                    <div class="box-3 flex-vc box-i-2 box-m-4 box-p-8">
                        <div class="w100p mauto">
                            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_fuxptv8k.json" background="transparent" speed="1" style="width: 100%;" loop="" autoplay=""></lottie-player>
                        </div>
                    </div>
                    <div class="box-9 box-i-10 box-m-8 box-p-12 flex-vcc">
                        <h2>Web Design</h2>
                        <p class="taj">I offer my service as a creative Web Designer and Developer; I really love to work with Sass because I’m able to create an organized project, even I created my own <a href="https://framework.marbust.com">CSS Framework.</a></p>
                    </div>
                </div>
                <div class="box-6 box-m-12 box-p-12 flex-s-a service-box">
                    <div class="box-3 flex-vc box-i-2 box-m-4 box-p-8">
                        <div class="w100p mauto">
                            <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_wqypnpu5.json" background="transparent" speed="1" style="width: 100%;" loop="" autoplay=""></lottie-player>
                        </div>
                    </div>
                    <div class="box-9 box-i-10 box-m-8 box-p-12 flex-vcc">
                        <h2>Web Development</h2>
                        <p class="taj">Do you have an idea in mind? Let’s bring it to life. I love to create Web Apps through MVC, PWA with PHP, MySQL.</p>
                    </div>
                </div>
                <div class="box-6 box-m-12 box-p-12 flex-s-a service-box">
                    <div class="box-3 flex-vc box-i-2 box-m-4 box-p-8">
                        <div class="w100p mauto">
                            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_bewdaxyv.json" background="transparent" speed="1" style="width: 100%;" loop="" autoplay=""></lottie-player>
                        </div>
                    </div>
                    <div class="box-9 box-i-10 box-m-8 box-p-12 flex-vcc">
                        <h2>Hosting Service</h2>
                        <p class="taj">In 2017 I decided to help internationally to business to obtain online presence, that’s why I began <strong>MBHostCloud&reg;</strong> as a Hosting solution part of <strong>Marbust Technology Company</strong> where I work as <strong>CEO and Co-founder.</strong></p>
                    </div>
                </div>
                <div class="box-6 box-m-12 box-p-12 flex-s-a service-box">
                    <div class="box-3 flex-vc box-i-2 box-m-4 box-p-8">
                        <div class="w100p mauto">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_thiis4h8.json" background="transparent" speed="1" style="width: 100%;" loop="" autoplay=""></lottie-player>
                        </div>
                    </div>
                    <div class="box-9 box-i-10 box-m-8 box-p-12 flex-vcc">
                        <h2>Computer Technician</h2>
                        <p class="taj">I began when I was 11 years old, which is translated now as more than 13 years of experience. For me, this experience let me to help people with their computer’s problems, and give solutions.</p>
                    </div>
                </div>
                <div class="box-6 box-m-12 box-p-12 flex-s-a service-box">
                    <div class="box-3 flex-vc box-i-2 box-m-4 box-p-8">
                        <div class="w100p mauto">
                            <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_jrhj68re.json" background="transparent" speed="1" style="width: 100%;" loop="" autoplay=""></lottie-player>
                        </div>
                    </div>
                    <div class="box-9 box-i-10 box-m-8 box-p-12 flex-vcc">
                        <h2>English Teacher</h2>
                        <p class="taj">Do you want to learn the English Language? Let’s do it together, I have more than 7 years of experience with some Advanced Certifications and educational experiences.</p>
                    </div>
                </div>
                <div class="box-6 box-m-12 box-p-12 flex-s-a service-box">
                    <div class="box-3 flex-vc box-i-2 box-m-4 box-p-8">
                        <div class="w100p mauto">
                            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_hzfmxrr7.json" background="transparent" speed="1" style="width: 100%;" loop="" autoplay=""></lottie-player>
                        </div>
                    </div>
                    <div class="box-9 box-i-10 box-m-8 box-p-12 flex-vcc">
                        <h2>Online Instructor</h2>
                        <p class="taj">I believe in <strong>Online Education</strong> as a powerful tool to help people to learn and grow, that’s why I created some course for <strong>Youtube and Udemy</strong> under the trademark of Marbust Videos &amp; Entertainment&reg;.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-arrow"></div>
    </div>
    <br>
    <br>
    <br>
    <div class="fun-facts">
        <p class="fs27px tittle">Fun</p>
        <p class="tbold fs27px subtittle">Facts</p>
        <br>
        <br>
        <br>
        <div class="flex-s-a">
            <div class="fun-box box-3 box-i-4 box-m-6 box-p-10">
              <div class="top-arrow"></div>
              <div class="fun-box-body">
                  <i class="fas fa-laptop-code fun-icon"></i>
                  <h2>+34</h2>
                  <p>Projects</p>
              </div>
               <div class="bottom-arrow"></div>
            </div>
            <div class="fun-box box-3 box-i-4 box-m-6 box-p-10">
              <div class="top-arrow"></div>
              <div class="fun-box-body">
                  <i class="fas fa-calendar-alt fun-icon"></i>
                  <h2>14</h2>
                  <p>Years of Experience</p>
              </div>
               <div class="bottom-arrow"></div>
            </div>
            <div class="fun-box box-3 box-i-4 box-m-6 box-p-10">
              <div class="top-arrow"></div>
              <div class="fun-box-body">
                  <i class="fas fa-award fun-icon"></i>
                  <h2>14</h2>
                  <p>Certifications</p>
              </div>
               <div class="bottom-arrow"></div>
            </div>
            <div class="fun-box box-3 box-i-4 box-m-6 box-p-10">
              <div class="top-arrow"></div>
              <div class="fun-box-body">
                  <i class="far fa-smile-beam fun-icon"></i>
                  <h2>+250</h2>
                  <p>Happy Clients</p>
              </div>
               <div class="bottom-arrow"></div>
            </div>
        </div>
    </div>
</div>
