<div class="home-page">
    <h1 class="fs-m-30px fs-p-22px">Hi, I'm Marco Antonio Bustillos Quiroz</h1>
    <p class="autowriting fs70px fs-i-60px fs-m-50px fs-p-30px"><span class="typed2"></span></p>
    <div id="seo-strings2">
        <p class="autowriting">Full Stack Web Developer</p>
        <p class="autowriting">Web Back-end Developer</p>
        <p class="autowriting">Web Front-end Developer</p>
        <p class="autowriting">Web Media Developer</p>
    </div>
    <a href="/about" class="banner-btn">About <i class="fas fa-address-card"></i></a>
    </div>