<div class="picture-frame">
    <img src="/img/header/frame.jpg" alt="Logo" class="">
    </div>
    <!--<img src="img/header/logo.jpg" alt="Logo-Mb" class="Logo-Mb">-->
    <a href="/" class="Page-Name-Link">Marco Antonio</a>
    <p class="autowriting"><span class="typed"></span></p>
    <div id="seo-strings">
        <p class="autowriting">Full Stack Web Developer</p>
        <p class="autowriting">Web Back-end Developer</p>
        <p class="autowriting">Web Front-end Developer</p>
        <p class="autowriting">Web Media Developer</p>
    </div>
    <%- include('nav.ejs')%>
   <footer>
    <%- include('footer.ejs')%>
</footer>